[Unit]
Description=Doorbell service daemon
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /opt/doorbell/src/main.py
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=doorbell

[Install]
WantedBy=multi-user.target